.main-screen-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-screen-title {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  letter-spacing: 0.175rem;
  padding: 0.5rem;
  color: #000411;
}

.main-screen-title .redO {
  font-weight: 400;
  color: #ed254e;
}

.main-screen-title .blueO {
  font-weight: 400;
  color: #1550ae;
}

.main-screen-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-screen-action-button {
  border-radius: 20px;
  border-color: #000411;
  width: 15rem;
  padding: 0.4rem;
  background-color: #000411;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
